.App {
  height: 100vw;
    width: 100%;
}

.home {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:  1fr auto;
  grid-template-areas: 
  'nav nav'
  ' info weather'
}


ul,li {
  list-style: none;
}

a {
  color: black
}

.navi {
  grid-area: nav;
}
.weather {
  grid-area: weather;
}
.info {
  grid-area: info;
  margin-left: 50px;
} 
.info__top {
  color: yellow
}
.info__top > div,.info__top > h4 {
    padding: 5px;
    background-color: #020d0285;
    width: 15rem;
    border-radius: 5px
}

select {
  cursor: pointer;
}
select:hover {
  background-color: antiquewhite
}

.forcast__top {
  align-items: baseline;
  display: inline;
}
.forcast__top__tabs {
  display: inline-flex;
}


.forcast {
  display: flex;
  flex-flow: row;
}

.forcast__detail {
  padding: 12px;
  text-align: center;
  color: rgb(230, 255, 1);
  font-weight: 400
}
.locationComment {
  color:red;
  opacity: 0;
    transition: opacity 0.5s linear 0s;
    visibility: hidden; 
}
.btn-currentLocation:hover + .locationComment {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .App,body,html {
    background: #2a2b2a !important
  }
  .weather {
    grid-area: weather;
    margin-left : 20px ;
  }
  .info {
    margin-left : 20px ;
    grid-area: info;
  } 
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr auto auto;
    grid-template-areas: 
    'nav'
    'weather'
    'info'
  }
  .forcast__detail {
    padding: 5px !important
  }
  .btn-currentLocation {
  color: aliceblue !important
  }
  .smhiMap {
    width: 340px !important;

  }
  .weekPrognos {
    overflow: auto;
    width: 340px;
  }
  .dailyProgons {
    width: 340px !important;
  }
}