.App {
  height: 100vw;
    width: 100%;
  background: linear-gradient(#171e20d5,#161a1da6);
}

.home {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:  1fr auto;
  grid-template-areas: 
  'nav nav'
  ' info weather'
}


ul,li {
  list-style: none;
}

a {
  color: black
}

.navi {
  grid-area: nav;
}
.weather {
  grid-area: weather;
}
.info {
  grid-area: info;
  margin-left: 50px;
} 
.info__top {
  color: yellow
}
.info__top > div,.info__top > h4 {
    padding: 5px;
    background-color: #020d0285;
    width: 15rem;
    border-radius: 5px
}

select {
  cursor: pointer;
}
select:hover {
  background-color: antiquewhite
}

.forcast__top {
  align-items: baseline;
  display: inline;
}
.forcast__top__tabs {
  display: inline-flex;
}


.forcast {
  display: flex;
  flex-flow: row;
}

.forcast__detail {
  padding: 0 20px;
  text-align: center;
  background-color: lightblue;
}


@media screen and (max-width: 1200px) {
  .weather {
    grid-area: weather;
    margin-left : 20px ;
  }
  .info {
    margin-left : 20px ;
    grid-area: info;
  } 
  .home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr auto auto;
    grid-template-areas: 
    'nav'
    'weather'
    'info'
  }
}